.form {
    width: 100%;
    max-width: 480px;
}
  
.buttons {
    display: flex;
    justify-content: flex-end;
}

.title {
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
}
  
.inputContainer > div > div {
    width: 480px;
}

.improvedLink {
    text-align: center;
  }
  
.improvedLinkText {
    text-decoration: none;
    color: #4c4cff;
}