  .ingredient__item {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .ingredient__listItem:not(:last-child) {
    margin-bottom: 16px;
  }

  .ingredient__listItemLocked {
    margin-bottom: 16px;
    margin-right: 16px;
    list-style-type: none;
  }

  .ingredient__button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
  }

  .ingredient__container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    box-sizing: border-box;
  }