.burger__ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 10px;
  }

  .link {
    text-decoration: none;
    color: inherit;
  }