.card {
    background-color: #1c1c21;
    border-radius: 40px;
    padding: 24px;
    box-sizing: border-box;
    display: block;
    color: inherit;
    text-decoration: none;
}
  
.cardContainer:not(:last-child) {
    margin-bottom: 16px;
}
  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(28, 28, 33, 0.6);
    border-radius: 50%;
}
  
.priceContainer {
    margin-left: auto;
    display: flex;
    align-items: center;
}
  
.title {
    margin-bottom: 24px;
}
  
.priceInfo {
    display: flex;
    align-items: center;
}
  
.ingredientsList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
}
  
.price {
    margin-right: 9px;
}