  
  ::-webkit-scrollbar {
    width: 8px; 
    border-radius: 9em;
    background-color: #2F2F37;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #5a5a74;
  }

  .ingredient__links{
    display: flex;
  }
  
  .ingredients__section{
    margin-top: 40px;
  }

  .ingredients__item{
    cursor: pointer;
  }

  .ingredients__container {
    width: 600px;
    height: 750px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  
  .ingredient__list {
    margin-left: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px 24px;
    padding: 0;
  }
  
  .ingredient__tab {
    text-decoration: none;
  }